<div id="navigation">
  <!-- container -->
  <div class="container">
    <div id="responsive-nav">
      <div class="menu-nav">
        <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
        <ul class="menu-list">
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a href="#">Shop</a></li>
          <li class="dropdown mega-dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Women</a>
          </li>
          <li class="dropdown mega-dropdown full-width"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Men</a>
          </li>
          <li><a href="#">Sales</a></li>
          <li class="dropdown default-dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Pages</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="order-summary clearfix">
          <h1 class="display-3  text-center">Thanks for your order!</h1><br/>
          <ul class="midpage">
            <li class="leftpage">
              <img src="http://www.alphademenagements.com/public/img/big/ok-1976099_960_720.png" width="250px" />
            </li>

            <li class="rightpage">              
              <br>
              <div class="info-ship">

                <div>
                    Cảm ơn bạn đã chọn mua hàng tại cửa hàng chúng tôi                    
                    <br/>  <br/>                
                    - Đơn hàng của bạn đã được lưu vào hệ thống.
                    <!-- <a class="contact-link">eshopoos@gmail.com</a>. -->
                    <br/><br/>
                    - Đơn hàng của bạn sẽ được chuyển tới trong vòng <strong>1 tuần</strong>.
                    <br/><br/>
                    - Vui lòng thanh toán cho chúng tôi khi nhận hàng.
                      <!-- <a class="contact-link" routerLink="../../contact">liên hệ chúng tôi</a>. -->
                      <br/>
                </div>



              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>
