<div id="navigation">
  <!-- container -->
  <div class="container">
    <div id="responsive-nav">
      <div class="menu-nav">
        <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
        <ul class="menu-list">
          <li><a [routerLink]="['/']">Home</a></li>
          <li><a href="#">Shop</a></li>
          <li class="dropdown mega-dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Women</a>
          </li>
          <li class="dropdown mega-dropdown full-width"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Men</a>
          </li>
          <li><a href="#">Sales</a></li>
          <li class="dropdown default-dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Pages</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!-- row -->
  <div class="row">
    <!-- Billing Address -->
    <div class="col-md-6">
      <div class="section-title">
        <h3 class="title">Information</h3>
      </div>
      <div class="form-group">
        <label>Name: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>{{user.firstName}} {{user.lastName}}</span>
      </div>
      <div class="form-group">
        <label>Gender: </label>&nbsp;&nbsp;
        <span>{{user.gender}}</span>
      </div>
      <div class="form-group">
        <label>VIP: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>{{user.vip}}</span>
      </div>
      <div class="form-group">
        <label>Email: </label>
        <input class="input" type="text" [(ngModel)]="user.email" placeholder="Email">
      </div>
      <div class="form-group">
        <label>Phone: </label>
        <input class="input" type="text" [(ngModel)]="user.phone" placeholder="Phone">
      </div>           
      <div class="form-group">
        <label>Address: </label>
        <input class="input" type="text" [(ngModel)]="address">
      </div>
      <div class="pull-right">
        <div>
          <button class="primary-btn" (click)="Checkout()">Place Order</button>
        </div>
      </div><br/><br/><br/>
    </div>
    <!-- Billing Address -->
    
    <div class="col-md-6">
      <!-- Order Review -->
      <div class="order-summary clearfix">
        <div class="section-title">
          <h3 class="title">Order Review</h3>
        </div>
        <table class="shopping-cart-table table">
          <thead>
            <tr>
              <th style="width: 250px">Product</th>
              <th></th>
              <th class="text-center">Price</th>
              
              <th class="text-center">Quantity</th>
              <th class="text-center">Total</th>
            </tr>
          </thead>
          <tbody *ngFor="let detail of order.orderDetails">
            <tr>
              <td class="text-left">
                {{detail.nameProduct}}
              </td>
              <td></td>
              <td class="text-center">
                {{detail.price | number}}
              </td>
              
              <td class="text-center">
                {{detail.quantity | number}}
              </td>
              <td class="text-center">
                {{detail.totalPrice | number}}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th class="empty" colspan="2"></th>
              <th colspan="2"><strong>SALE FOR VIP ( - {{user.vip}} % )</strong></th>
              <td colspan="2"><strong>{{saleVip | number}}</strong></td>
            </tr>

            <tr>
              <th class="empty" colspan="2"></th>
              <th colspan="2">TOTAL</th>
              <th colspan="2"><strong>{{order.total | number}}</strong></th>
            </tr>
          </tfoot>
        </table>        
        <!-- Order Review -->
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>