<div id="navigation">
    <!-- container -->
    <div class="container">
        <div id="responsive-nav">
            <div class="menu-nav">
                <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                <ul class="menu-list">
                    <li><a [routerLink]="['/']">Home</a></li>
                    <li><a href="#">Shop</a></li>
                    <li class="dropdown mega-dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Women</a>
                    </li>
                    <li class="dropdown mega-dropdown full-width"><a class="dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="true">Men</a>
                    </li>
                    <li><a href="#">Sales</a></li>
                    <li class="dropdown default-dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="true">Pages</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- <form> -->
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <!-- <h1 class="text-center login-title">Admin Login</h1> -->
            <!-- <div class="account-wall"></div> -->
            <div class="section-title">
                <h3 class="title">Your account</h3>
            </div>
            <div class="form-signin">
                <div class="form-group">
                    <label>First name</label>
                    <input class="input" type="text" [(ngModel)]="user.firstName">
                </div>
                <div class="form-group">
                    <label>Last name</label>
                    <input class="input" type="text" [(ngModel)]="user.lastName">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input class="input" type="text" [(ngModel)]="user.email" (change)="checkemail()">
                    <strong *ngIf="checkmail" style="color: red">&nbsp;Email is not correct</strong>
                </div>
                <div class="form-group">
                    <label>Phone</label>
                    <input class="input" type="text" [(ngModel)]="user.phone">
                </div>
                <div class="form-group">
                    <label>New password</label>
                    <input class="input" type="password" [(ngModel)]="password">
                </div>
                <div class="form-group">
                    <label>Re-enter password</label>
                    <input class="input" type="password" [(ngModel)]="rePassword" (input)="checkpassword()">
                    <strong *ngIf="checkpass" style="color: red">&nbsp;Password is not correct</strong>
                </div>                
                <button class="primary-btn btn-block" (click)="SaveChange()">
                    change
                </button>


                <br /><br />
                <span class="clearfix"></span>
            </div>
            <!-- <a href="#" class="text-center new-account">Create an account </a> -->
        </div>
    </div>
    <!-- </form> -->
</div>
<br /><br />