<div class="col-md-12">
  <div class="section-title ">
    <h3 class="title">List Import Bills</h3>
  </div>

  <div class="pull-right">
    <div class="btn-group">
      <a routerLink="../create" routerLinkActive="active" class="primary-btn">Create New</a>
    </div>
  </div>

  <table class="shopping-cart-table table table">
    <thead class="thead-dark">
      <tr>   
        <th scope="col">ID</th>
        <th scope="col">Agency</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Date</th>
        <th scope="col">Total</th>
        <th class="text-right">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let import of listImports; let i = index">
      <tr>
        <td>{{import.code}}</td>
        <td>{{import.agencyName}}</td>
        <td>{{import.address}}</td>
        <td>{{import.phone}}</td>
        <td>{{import.date}}</td>
        <td>{{import.total}}</td>        
        <td class="text-right">
          <a routerLink="./edit/{{import.id}}" routerLinkActive="active">
            <button class="main-btn icon-btn" (click)="getCategory(category)">
              <i class="fa fa-edit"></i>
            </button>
          </a>
          &nbsp;
          <!-- <button class="main-btn icon-btn" data-toggle="modal" data-target="#myModal" (click)="getById(category.id)">
            <i class="fa fa-close"></i>
          </button> -->
          <button class="main-btn icon-btn" (click)="delete(import)">
            <i class="fa fa-close"></i>
          </button>

        </td>
      </tr>
    </tbody>
  </table>
</div>
