<div class="col-md-12">
  <div class="section-title ">
    <h3 class="title">Overview Categories</h3>
  </div>

  <div class="pull-right">
    <div class="btn-group">
      <a routerLink="../create" routerLinkActive="active" class="primary-btn">Create New</a>
    </div>
  </div>

  <table class="shopping-cart-table table table">
    <thead class="thead-dark">
      <tr>   
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th class="text-right">Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let category of listCategories; let i = index">
      <tr>
        <td>{{category.code}}</td>
        <td class="">
          <a routerLink="../{{category.id}}" routerLinkActive="active">{{category.name}}</a>
        </td>
        <td>{{category.description}}</td>              
        <td class="text-right">
          <a routerLink="../{{category.id}}" routerLinkActive="active">
            <button class="main-btn icon-btn" (click)="getCategory(category)">
              <i class="fa fa-edit"></i>
            </button>
          </a>
          &nbsp;
          <!-- <button class="main-btn icon-btn" data-toggle="modal" data-target="#myModal" (click)="getById(category.id)">
            <i class="fa fa-close"></i>
          </button> -->
          <button class="main-btn icon-btn" (click)="delete(category)">
            <i class="fa fa-close"></i>
          </button>

        </td>
      </tr>
    </tbody>
  </table>
</div>



<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div class="section-title">
          <h4 class="modal-title">Confirm</h4>
        </div>
        <p>
          Are you sure to want to delele
          <!-- <strong>{{cateDel.name}}</strong> ? -->
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="primary-btn" (click)="delete()" data-dismiss="modal">Yes</button>
        <button type="button" class="main-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>